@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'burtons';
	src: url('../public/Burtons.otf');
}

.navbar-fixed {
	position: fixed;
	z-index: 60;
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.navbar-fixed-dark {
	position: fixed;
	z-index: 9999;
	box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}

.hamburger-active > span:nth-child(1) {
	transform: rotate(45deg);
}
.hamburger-active > span:nth-child(2) {
	transform: scale(0);
}
.hamburger-active > span:nth-child(3) {
	transform: rotate(-45deg);
}
.toggle-circle {
	transform: translateX(21px);
}
.min-toggle-circle {
	transform: translateX(-21px);
}

/* Slider */
/* #skills .slide {
	background: red;
	margin: 0 60px;
} */

.image-card1 {
	background-image: url('../public/pengelolaan-keuangan.png');
	background-size: cover;
	background-repeat: no-repeat;
	transition: all ease-in-out 3s;
}
.image-card2 {
	background-image: url('../public/pesan-rahasia.png');
	background-size: cover;
	background-repeat: no-repeat;
	transition: all ease-in-out 3s;
}
.image-card1:hover,.image-card2:hover {
	background-position: center bottom;
}
input,
textarea {
	caret-color: #0ea5e9;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #647488;
}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus, 
.dark input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(255 255 255);
}
@keyframes fly {
	/* 1 */
	5% {
		transform: translate(-20px, 20px);
	}
	/* 2 */
	10% {
		transform: translate(20px, -20px);
	}
	/* 3 */
	15% {
		transform: translate(20px, -60px) rotate(-70deg);
	}
	/* 4 */
	20% {
		transform: translate(0px, -60px) rotate(-135deg);
	}
	/* 5 */
	35% {
		transform: translate(-450px, -60px) rotate(-135deg);
	}
	/* 6 */
	40% {
		transform: translate(-500px, -40px) rotate(-170deg);
	}
	/* 7 */
	45% {
		transform: translate(-500px, -30px) rotate(-225deg);
	}
	/* 8 */
	50% {
		transform: translate(-500px, 40px) rotate(-225deg);
	}
	/* 9 */
	55% {
		transform: translate(-490px, 50px) rotate(-270deg);
	}
	/* 10 */
	60% {
		transform: translate(-460px, 70px) rotate(-315deg);
	}
	/* 11 */
	75% {
		transform: translate(-50px, 70px) rotate(-315deg);
	}
	/* 12 */
	80% {
		transform: translate(-30px, 60px) rotate(-360deg);
	}
	/* 13 */
	85% {
		transform: translate(-20px, 50px) rotate(-405deg);
	}
	/* 14 */
	90% {
		transform: translate(-20px, 30px) rotate(-405deg);
	} 
	/* 15 */
	95% {
		transform: rotate(0);
	}
}
.animate-fly {
	animation: fly 10s linear;
}
#home {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1500' height='1000' preserveAspectRatio='none' viewBox='0 0 1500 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3cpath d='M63.19 250C63.19 216.52 10.29 226.81 0 186.11C-21.31 101.81 -51.38 41.68 0 0C63.35 -51.38 118.42 -9 229.45 0C243.42 1.13 238.74 20.27 250 20.27C264.32 20.27 262.69 1.45 280.61 0C387.69 -8.68 390.31 0 500 0C625 0 625 0 750 0C827.5 0 905 -35.57 905 0C905 54.55 846.8 120.47 750 180.23C644.3 245.47 625 215.12 500 250C500 250 500 250 500 250C407.61 375 320.93 372.38 315.22 500C309.74 622.38 402.05 622.21 477.61 750C494.44 778.46 480.69 812.5 500 812.5C527.6 812.5 561.35 793 571.43 750C597.99 636.75 529.68 608.26 573.28 500C618.97 386.56 640.93 352 750 306.6C854.29 263.19 888.47 343.21 1000 322.37C1039.91 314.91 1037.24 291.4 1052.88 250C1098.13 130.22 1055.84 83.65 1121.79 0C1154.4 -41.35 1185.89 0 1250 0C1375 0 1421.2 -46.2 1500 0C1546.2 27.08 1523.72 82.32 1500 146.55C1477.56 207.32 1407.69 204.01 1407.69 250C1407.69 286.98 1482.79 265.89 1500 312.5C1528.95 390.89 1500 406.25 1500 500C1500 625 1500 625 1500 750C1500 875 1562.5 937.5 1500 1000C1437.5 1062.5 1375 1000 1250 1000C1125 1000 1125 1000 1000 1000C875 1000 875 1000 750 1000C625 1000 625 1000 500 1000C410 1000 408.38 1009.1 320 1000C283.38 996.23 281.98 974.26 250 974.26C234.82 974.26 242.64 998.25 225.69 1000C117.64 1011.12 58.32 1054.53 0 1000C-54.53 949.01 -16.2 887.51 0 788.96C4.35 762.51 41.1 770.51 41.1 750C41.1 727.22 4.87 732.02 0 702.38C-15.68 607.02 0 601.19 0 500C0 413.85 -19.98 406.75 0 327.7C11.61 281.75 63.19 287.31 63.19 250' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M131.87 250C131.87 180.13 40.65 193.73 0 116.67C-25.29 68.73 -32.21 26.13 0 0C39.71 -32.21 82.47 -25.71 143.84 0C207.47 26.65 191.83 104.73 250 104.73C323.99 104.73 323.94 35.28 408.16 0C448.94 -17.08 454.08 0 500 0C625 0 625 0 750 0C765 0 780 -6.88 780 0C780 10.56 771.08 27 750 34.88C631.08 79.33 602.83 39.95 500 104.65C431.87 147.51 460.96 182.6 408.09 250C335.96 341.97 334.73 343.05 250 423.39C202.9 468.05 144.44 460.17 144.44 500C144.44 541.65 203.01 537.38 250 586.36C322.95 662.38 384.33 671.73 384.33 750C384.33 819.72 316.04 815.08 250 882.35C193.32 940.08 206.16 968.34 138.89 1000C81.16 1027.17 35.89 1033.56 0 1000C-33.56 968.62 -27.02 923.45 0 870.13C36.33 798.45 126.71 813.24 126.71 750C126.71 679.76 41.36 684.77 0 603.17C-22 559.77 0 551.59 0 500C0 456.08 -19.51 449.15 0 412.16C46.42 324.15 131.87 327.87 131.87 250' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1173.08 250C1224.56 162 1214.94 59.52 1250 59.52C1284.17 59.52 1253.05 175.58 1311.54 250C1378.05 334.62 1438.72 296.32 1500 377.6C1532.95 421.32 1500 438.8 1500 500C1500 610.85 1526.52 628.87 1500 721.7C1490.81 753.87 1455.91 724.12 1428.57 750C1330.91 842.43 1352.54 873.88 1250 958.33C1200.76 998.88 1189.15 989.31 1125 1000C1064.15 1010.14 1062.5 1000 1000 1000C975 1000 963.8 1018.73 950 1000C871.69 893.73 886.68 872.7 815.79 750C786.68 699.62 777.53 704.93 750 653.85C710.15 579.93 681.03 571.38 681.03 500C681.03 456.72 704.69 426.4 750 424.53C864.18 419.82 901.08 527.65 1000 486.84C1112.62 440.38 1099.56 375.66 1173.08 250' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1500 38.79C1434.92 38.79 1339.29 9.83 1339.29 0C1339.29 -9.56 1435.27 -15.62 1500 0C1515.62 3.77 1515.27 38.79 1500 38.79' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M200.55 250C200.55 218.55 223.07 189.19 250 189.19C280.88 189.19 316.18 218.13 316.18 250C316.18 284.83 280.52 322.58 250 322.58C222.71 322.58 200.55 285.24 200.55 250' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M58.22 0C58.22 13.29 17.86 47.22 0 47.22C-11.25 47.22 -13.04 10.57 0 0C16.07 -13.04 58.22 -10.32 58.22 0' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 496.62C1.83 496.62 5.56 498.21 5.56 500C5.56 501.88 1.76 503.97 0 503.97C-1.02 503.97 0 501.99 0 500C0 498.31 -0.95 496.62 0 496.62' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1358.97 500C1358.97 462.55 1448.77 442.71 1500 442.71C1519.28 442.71 1500 471.36 1500 500C1500 551.88 1526.24 603.77 1500 603.77C1455.72 603.77 1358.97 543.08 1358.97 500' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M212.33 750C212.33 725.98 230.64 700 250 700C270 700 291.04 726.08 291.04 750C291.04 771.3 270.09 790.44 250 790.44C230.73 790.44 212.33 771.2 212.33 750' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980.26 750C980.26 735.49 986.39 721.15 1000 721.15C1025.11 721.15 1057.69 735.35 1057.69 750C1057.69 764.77 1024.94 780 1000 780C986.23 780 980.26 764.91 980.26 750' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 951.3C15.47 951.3 52.08 985.93 52.08 1000C52.08 1010.28 13.46 1012.58 0 1000C-12.58 988.23 -10.57 951.3 0 951.3' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='1500' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}
